################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/myMLAppML.ConsoleApp/obj
/myMLAppML.Model/obj
